
	@font-face {
    font-family: Anglican;
	font-size: 60px;
    src: url(AnglicanText.ttf);
}

h9 {
    font-family: Anglican;, sans-serif; font-size: 60px; font-weight:normal;
}

@font-face {
    font-family: OS;
	font-size: 30px;
    src: url(OfenbacherSchwabCAT.ttf);
}

h8 {
	font-family: OS;, sans-serif; font-size: 60px; font-weight:normal;
}
