{
	                
				background-color: darkslategrey;
                color: azure;
                font-size: 1.1em;
            }
            h1 {
                color: coral;
            }
            #intro {
                font-size: 1.3em;
            }
            .colorful {
                color: orange;
            }
	@font-face {
    font-family: Anglican;
	font-size: 60px;
    src: url(AnglicanText.ttf);
}

div {
    font-family: Anglican;, sans-serif; font-size: 60px; font-weight:normal;
}
