{% extends "geoids_traveltimepolygons/base.html" %}
{% load staticfiles %}

{% block app_content %}
<h1>Mockup Diagrams</h1>

<h80>Information</h80>
<img src="{% static '/geoids_traveltimepolygons/images/Info.png' %}">
<h80>Map</h80>
<img src="{% static '/geoids_traveltimepolygons/images/Map.png' %}">
<h80>Table</h80>
<img src="{% static '/geoids_traveltimepolygons/images/Table.png' %}">
<h80>Elevation</h80>
<img src="{% static '/geoids_traveltimepolygons/images/Elevation.png' %}">
{% endblock %}