{% extends "geoids_traveltimepolygons/base.html" %}
{% load tethys_gizmos %}
{% load staticfiles %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
{% endblock %}

{% block app_content %}
 <center> <h2>GEOIDS</h2>
  <h80>To calculate travel time, click the map button! </h80></center>
<br>
<br>
<br>


  <ol>
    <h5>
<li>
  Once the map is open, click on the point from which you want to calculate your travel time
</li>
<li>
  Click the "calculate" button.
</li>
<li>
  Watch the magic happen.
</li>
      </h5>
</ol>

<br>
<br>
<center> <img src="{% static '/geoids_traveltimepolygons/images/annotated.png' %}"width="1350" height="700"> </center>
{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}

{% endblock %}

{% block app_actions %}

{% endblock %}