{% extends "geoids_traveltimepolygons/base.html" %}
{% load tethys_gizmos %}

{% block app_content %}
<html>
<head>
	<link rel="stylesheet" href="https://js.arcgis.com/4.6/esri/css/main.css">
	<script src="https://js.arcgis.com/4.6/"></script>
	<style>
		 html, body, #viewDiv {
			padding: 0;
			margin: 0;
			height: 100%;
			width: 100%;
		  }
        #viewDiv {
            height: 700px;
            }
		h1 {
		color: green;
		font-family: Arial;
		text-align: Center;
		}
		p {
		font-family: Arial;
		text-align: Center;
		}
	background-color: lightgreen;
	</style>
	<script language="javascript">
	var app;
		require([
			"esri/Map",
			"esri/layers/GraphicsLayer",
  			"esri/Graphic",
  			"esri/geometry/Point",
 			"esri/tasks/Geoprocessor",
  			"esri/tasks/support/LinearUnit",
  			"esri/tasks/support/FeatureSet",
			"esri/layers/MapImageLayer",
			"esri/layers/FeatureLayer",
			"esri/views/MapView",
			"dojo/dom",
			"dojo/on",
			"dojo/domReady!"
		], function(Map, GraphicsLayer, Graphic, Point, Geoprocessor, LinearUnit, FeatureSet, MapImageLayer, FeatureLayer, MapView, dom, on){
			var map = new Map({
				basemap: "streets"
			});


			var rast_layer = new MapImageLayer({
				url: "http://geoserver2.byu.edu/arcgis/rest/services/Geoids/RoadsRaster/MapServer"
			});
			var template = {
				title: "Highway AADT",
				content: "<ul><li>Route Name: {ROUTE}</ul></li>" +
					"<ul><li>AADT: {AADT2015}</ul></li>",
				fieldInfos: [{
					fieldName: "AADT2015",
					format: {
						digitSeparator: true,
						places: 0
					}
				}]
			};
			var vect_layer = new FeatureLayer({
				url: "http://geoserver2.byu.edu/arcgis/rest/services/Geoids/UtahAADT/MapServer",
				outFields: ["*"],
				popupTemplate: template
			});
			map.layers.add(rast_layer);
			map.layers.add(vect_layer);

			var view = new MapView({
				container: "viewDiv",
				map: map,
				center: [-111.1, 39.1],
				zoom: 6
			});

			var vectLyrToggle = dom.byId("vect");
				on(vectLyrToggle, "change", function(){
				vect_layer.visible = vectLyrToggle.checked;
			});
			var rastLyrToggle = dom.byId("rast");
				on(rastLyrToggle, "change", function(){
				rast_layer.visible = rastLyrToggle.checked;
			});

            // sherry code

            //a graphics layer to show input point and output polygon
    		var graphicsLayer = new GraphicsLayer();
    		map.add(graphicsLayer);

    		// symbol for input point
	var markerSymbol = {
          type: "simple-marker", // autocasts as new SimpleMarkerSymbol()
          color: [255, 0, 0],
          outline: { // autocasts as new SimpleLineSymbol()
            color: [255, 255, 255],
            width: 2
          }
        };

	// symbol for buffered polygon
    var fillSymbol = {
          type: "simple-fill", // autocasts as new SimpleFillSymbol()
          color: [226, 119, 40, 0.75],
          outline: { // autocasts as new SimpleLineSymbol()
            color: [255, 255, 255],
            width: 1
          }
        };

	// Geoprocessing service url
	var gpUrl = "http://geoserver2.byu.edu/arcgis/rest/services/Geoids/PopBuffer/GPServer/Pop%20Buffer";

    // create a new Geoprocessor
	var gp = new Geoprocessor(gpUrl);
	// define output spatial reference
    gp.outSpatialReference = { // autocasts as new SpatialReference()
          wkid: 102100 //EPSG3857
        };

	//Point Function
	view.on("click", startPoint);
	var featureSet
	function startPoint(event) {
		graphicsLayer.removeAll();
          var point = new Point({
            longitude: event.mapPoint.longitude,
            latitude: event.mapPoint.latitude
          });

          var inputGraphic = new Graphic({
            geometry: point,
            symbol: markerSymbol
          });

          graphicsLayer.add(inputGraphic);

          var inputGraphicContainer = [];
          inputGraphicContainer.push(inputGraphic);
          featureSet = new FeatureSet();
          featureSet.features = inputGraphicContainer;
  	}


	//main function
    function bufferPoint(event) {
		document.getElementById("waiting_output").innerHTML = '';
          <!--var point = new Point({-->
            <!--longitude: event.mapPoint.longitude,-->
            <!--latitude: event.mapPoint.latitude-->
          <!--});-->

          <!--var inputGraphic = new Graphic({-->
            <!--geometry: point,-->
            <!--symbol: markerSymbol-->
          <!--});-->

          <!--graphicsLayer.add(inputGraphic);-->

          <!--var inputGraphicContainer = [];-->
          <!--inputGraphicContainer.push(inputGraphic);-->
          <!--var featureSet = new FeatureSet();-->
          <!--featureSet.features = inputGraphicContainer;-->

          var bfDistance = new LinearUnit();
          bfDistance.distance = 3;
          bfDistance.units = "miles";

		  // input parameters
          var params = {
            "Input_Features": featureSet,
            "Distance_value_or_field_": bfDistance
          };

          gp.submitJob(params).then(completeCallback, errBack, statusCallback);
          waiting_output();

    }

	function completeCallback(result){

        gp.getResultData(result.jobId, "Buffpop_dbf").then(drawResult, drawResultErrBack);

	}

	function drawResult(data){
		var SUM_Approx = data.value.features[0].attributes.SUM_Approx;
		window.alert("The population living within 3 miles of your selected location is " + SUM_Approx + " people.")
		document.getElementById("waiting_output").innerHTML = '';
	}

	function drawResultErrBack(err) {
        console.log("draw result error: ", err);
    }

	function statusCallback(data) {
        console.log(data.jobStatus);
    }

    function errBack(err) {
        console.log("gp error: ", err);
    }

    app = {bufferPoint:bufferPoint};

		});

	function waiting_pis() {
    	var wait_text = "<strong>Loading...</strong><br>" +
        	"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src='/static/geoids_traveltimepolygons/images/earth_globe.gif'>";
    	document.getElementById('search_output').innerHTML = wait_text;
	}

	function waiting_output() {
    	var wait_text = "<strong>Loading...</strong><br>" +
        	"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src='/static/geoids_traveltimepolygons/images/earth_globe.gif'>";
    	document.getElementById('waiting_output').innerHTML = wait_text;
	}

	</script>
	<title>
	514 Map Sample
	</title>
</head>
<h1>Map View</h1>

{% block app_navigation_items %}

	{{ block.super }}
  <div id="waiting_output"></div>
	{% gizmo map_button %}
	<div id="check">
		<input type="checkbox" id="vect" checked>Vector Layer
		<input type="checkbox" id="rast" checked>Raster Layer
	</div>
{% endblock %}

<body>

	<div id="viewDiv"></div>
</body>
</html>
{% endblock %}