    html,
    body {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      margin: 0;
      font-family: "Open Sans";
    }
    
    #leftPane {
      width: 20%;
      margin: 0;
      border: none;
    }
    
    #map {
      padding: 0;
    }
    
    .nav {
      padding: 5px 10px;
      border: solid 1px grey;
    }
    
    #header {
      text-align: center;
      height: 60px;
      border-bottom: solid 1px #ccc;
    }
